<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.WeatherInfoMapper">

  <insert id="insertWeatherLive" useGeneratedKeys="true" keyProperty="id" parameterType="com.test.entity.WeatherLiveInfo">
    insert into BaoshenWeatherLive (weatherLiveId, weatherStationCode, times, Year, Mon, Day, Hour, Min,
    PRE, WIN_D_Avg_10mi, WIN_S_Avg_10mi, WIN_S_Max, GST, GST_Max, GST_Min)
    values(#{weatherLiveId}, #{weatherStationCode}, #{times}, #{Year}, #{Mon}, #{Day}, #{Hour}, #{Min},
     #{PRE}, #{WIN_D_Avg_10mi}, #{WIN_S_Avg_10mi}, #{WIN_S_Max}, #{GST}, #{GST_Max}, #{GST_Min})
  </insert>

  <insert id="insertWeather" useGeneratedKeys="true" keyProperty="id" parameterType="com.test.entity.WeatherInfo">
    insert into BaoshenWeather (weatherId, nationalWeatherStationCode, times, Year, Mon, Day, Hour, WEP_Now)
    values(#{weatherId}, #{nationalWeatherStationCode}, #{times}, #{Year}, #{Mon}, #{Day}, #{Hour}, #{WEP_Now})
  </insert>

</mapper>